@model STATIONERY_MANAGE.Models.UserView
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage
            <small>Users</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Users</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="alert alert-error alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Edit User</h3>
                    </div>
                    @using (Html.BeginForm("Edit", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="box-body">

                            @Html.HiddenFor(model => model.user_role_id, new { htmlAttributes = new { name = "user_roleid" } })
                            <div class="form-group">
                                <label for="groups">Groups</label>
                                <select class="form-control" id="role_id" name="role_id">
                                    <option value="">Select Groups</option>
                                    @foreach (var item in ViewBag.getroles)
                                    {
                                        <option value="@item.id">@item.name</option>
                                    }

                                </select>
                            </div>




                            @Html.HiddenFor(model => model.userid)

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="<?php echo $user_data['email'] ?>" autocomplete="off">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @id = "email", @name = "email", @laceholder = "Email" } })

                            </div>

                            <div class="form-group">
                                <label for="fname">First name</label>
                                <input type="text" class="form-control" id="fname" name="fname" placeholder="First name" value="<?php echo $user_data['firstname'] ?>" autocomplete="off">
                                @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control", @id = "firstname", @name = "firstname", @placeholder = "First name" } })


                            </div>

                            <div class="form-group">
                                <label for="lname">Last name</label>
                                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name" value="<?php echo $user_data['lastname'] ?>" autocomplete="off">
                                @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control", @id = "lastname", @name = "lastname", @placeholder = "First name" } })

                            </div>

                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" value="<?php echo $user_data['phone'] ?>" autocomplete="off">
                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @id = "phone", @name = "phone", @placeholder = "Phone" } })

                            </div>



                            <div class="form-group">
                                <label for="cpassword">password</label>
                                <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password" autocomplete="off">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @id = "phone", @name = "phone", @placeholder = "Phone" } })

                            </div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            <a href="@Url.Action("Index")" class="btn btn-warning">Back</a>
                        </div>
                    }
                    </div>
                <!-- /.box -->
            </div>
            <!-- col-md-12 -->
        </div>
        <!-- /.row -->


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">
$(document).ready(function() {

    $("#mainUserNav").addClass('active');
    $("#manageUserNav").addClass('active');
    $("#role_id").val("@Model.roles_id");

  });</script>









