@model IEnumerable<STATIONERY_MANAGE.Models.users_roles>

    @{
        ViewBag.Title = "Profile";
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }



    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                User
                <small>Profile</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Profile</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12 col-xs-12">

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Profile XXX</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered table-condensed table-hovered">
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <th>Email</th>
                                        <td>@Html.DisplayFor(modelItem => item.user.email)  </td>
                                    </tr>
                                    <tr>
                                        <th>First Name</th>
                                        <td>@Html.DisplayFor(modelItem => item.user.firstname) </td>
                                    </tr>
                                    <tr>
                                        <th>Last Name</th>
                                        <td>@Html.DisplayFor(modelItem => item.user.lastname)</td>
                                    </tr>

                                    <tr>
                                        <th>Phone</th>
                                        <td>@Html.DisplayFor(modelItem => item.user.phone)</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td>@Html.DisplayFor(modelItem => item.role.name)</td>
                                    </tr>
                                }
                                </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- col-md-12 -->
            </div>
            <!-- /.row -->


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
