@model STATIONERY_MANAGE.Models.product
@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage
            <small>Products</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Products</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div id="messages"></div>





                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Edit Product</h3>
                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm("edit", "product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                <div class="box-body">

                    @Html.HiddenFor(model => model.id)




                    <div class="form-group">
                        <label for="product_image">Update Image</label>
                        <div class="kv-avatar">
                            <img width="50px" height="50px" alt="image" src="~/@Html.Raw(Model.image)" />
                            <input id="product_image" name="images" type="file">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="product_name">Product name</label>
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @id = "product_name", @name = "product_name", @placeholder = "Enter product name", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="sku">SKU</label>
                        @Html.EditorFor(model => model.sku, new { htmlAttributes = new { @class = "form-control", @id = "sku", @name = "sku", @placeholder = "Enter sku", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.sku, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", @id = "price", @name = "price", @placeholder = "Enter sku", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="qty">Qty</label>
                        @Html.EditorFor(model => model.qty, new { htmlAttributes = new { @class = "form-control", @id = "qty", @name = "qty", @placeholder = "Enter sku", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.qty, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", @id = "description", @name = "description", @placeholder = "Enter description", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @if (ViewBag.error != null)
                        {
                            <span class="has-error">@ViewBag.error</span>
                        }
                    </div>





                    <div class="form-group">
                        <label for="category">Category</label>

                        @Html.DropDownList("category_id", String.Empty)
                        @Html.ValidationMessageFor(model => model.category_id)
                    </div>

                    <div class="form-group">
                        <label for="store">Store</label>
                        @Html.DropDownList("store_id", String.Empty)
                        @Html.ValidationMessageFor(model => model.store_id)
                    </div>

                    <div class="form-group">
                        <label for="store">Availability</label>
                        <select class="form-control" id="availability" name="availability">
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>



                </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            <a href="@Url.Action("index")" class="btn btn-warning">Back</a>
                        </div>

                    }
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- col-md-12 -->
        </div>
        <!-- /.row -->


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">
    $(document).ready(function () {
        $('#category_id').val(@Html.ValueFor(model => model.category_id);
        $('#store_Id').val(@Html.ValueFor(model => model.store_id);
        $('#availability').val(@Html.ValueFor(model => model.availability);

    });
</script>

